<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Spoken Chinese: duō shǎo qū zhé wǒ men yì qǐ guò</p>
    <p>Chinese Characters: 多  少   曲 折  我 们  一 起 过</p>
    <p>English: How many twists and turns we have together</p>
    <p>Emoji: 😀</p>
</body>
</html>